# Ignore the build directory
blockchain_network/third-party/build/
blockchain_network/test/build/
blockchain_network/core/build/

# Build artifacts
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.out
*.class
*.log

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled source
*.obj
*.bin

# IDE files
*.swp
*.swo
*.tmp
*.user
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.DS_Store
*.idea/
.vscode/
.vscode/*
